<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .header {
            width: 900px;
            margin: 0 auto;
            text-align: center;
            font-family: 等线,serif;
            font-size: 19px;
            color: #ffffff;
            background-color: #1b78a1;
        }
    </style>
</head>
<body>
<div class="header">
    <span>TEXT</span>
</div>
<div class="header">
    <img src="https://img1.baidu.com/it/u=3466038465,1582590411&fm=253&fmt=auto&app=138&f=JPG?w=748&h=500" alt="">
</div>
<script type="text/javascript" src="res/js/random.js">
    title("sb");
</script>
</body>
</html>